/*  btns.css Simple css utilities for building responsive buttons Author: mrmrs License: MIT  */
.btn { color: #222; text-decoration: none; text-transform: uppercase; letter-spacing: .15em; -webkit-transition: color .3s, background-color .3s; transition: color .3s, background-color .3s; font-family: avenir, helvetica, arial, sans-serif; display: inline-block; border-style: solid; border-width: 1px; padding: 1em .75em; border-radius: .4em; margin-bottom: .5em; }

.btn--full { width: 100%; max-width: 20em; display: block; margin-left: auto; margin-right: auto; text-align: center; border-radius: .25em; }

.btn:hover { -webkit-transition: background-color .3s, color .3s; transition: background-color .3s, color .3s; }

.btn-gray:hover { background-color: #ddd; color: #111; }

.btn-gray:active { background-color: #ccc; color: #101010; }

.btn--blue { background-color: #0074D9; color: #fff; }

.btn--blue:hover { background-color: #0063aa; }

.btn--black { background-color: #000; color: #fff; }

.btn--black:hover { background-color: #222; }

.btn--black:hover { background-color: #444; }

.btn--black { background-color: #000; }

.btn--s { font-size: 12px; }

.btn--m { font-size: 14px; }

.btn--l { font-size: 20px; border-radius: 0.25em !important; }
